<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SpeiFrei</title>
    <script type="text/javascript" src="libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="libs/ember.js"></script>
    <script type="text/javascript" src="libs/ember-data.js"></script>

    <link rel="stylesheet/less" type="text/css" href="stylesheets/styles.less" />
    <script type="text/javascript" src="libs/less.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>

    <!-- Routes -->
    <script type="text/javascript" src="js/Routes/ApplicationRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SigninRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SignupRoute.js"></script>
    <script type="text/javascript" src="js/Routes/StudiosRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/StudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/ActorsRoute.js"></script>
    <script type="text/javascript" src="js/Routes/MoviesRoute.js"></script>
    <script type="text/javascript" src="js/Routes/DirectorsRoute.js"></script>
    <script type="text/javascript" src="js/Routes/MovieRoute.js"></script>
    <script type="text/javascript" src="js/Routes/DirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateMovieRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateDirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/ActorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateActorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditActorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditDirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/UsersRoute.js"></script>
    <script type="text/javascript" src="js/Routes/UserRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SearchRoute.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/Controllers/ApplicationController.js"></script>
    <script type="text/javascript" src="js/Controllers/SigninController.js"></script>
    <script type="text/javascript" src="js/Controllers/SignupController.js"></script>
    <script type="text/javascript" src="js/Controllers/StudiosController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateStudioController.js"></script>
    <script type="text/javascript" src="js/Controllers/ActorsController.js"></script>
    <script type="text/javascript" src="js/Controllers/MoviesController.js"></script>
    <script type="text/javascript" src="js/Controllers/DirectorsController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateMovieController.js"></script>
    <script type="text/javascript" src="js/Controllers/MovieController.js"></script>
    <script type="text/javascript" src="js/Controllers/DirectorController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateDirectorController.js"></script>
    <script type="text/javascript" src="js/Controllers/EditDirectorController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateActorController.js"></script>
    <script type="text/javascript" src="js/Controllers/EditActorController.js"></script>
    <script type="text/javascript" src="js/Controllers/ActorController.js"></script>
    <script type="text/javascript" src="js/Controllers/StudioController.js"></script>
    <script type="text/javascript" src="js/Controllers/EditStudioController.js"></script>
    <script type="text/javascript" src="js/Controllers/UserController.js"></script>
    <script type="text/javascript" src="js/Controllers/UsersController.js"></script>
    <script type="text/javascript" src="js/Controllers/SearchController.js"></script>

  
    <!-- Components -->
    <script type="text/javascript" src="js/Components/MovieComponent.js"></script>  
    <script type="text/javascript" src="js/Components/DirectorComponent.js"></script>
    <script type="text/javascript" src="js/Components/ActorComponent.js"></script>
    <script type="text/javascript" src="js/Components/UserComponent.js"></script>
    <script type="text/javascript" src="js/Components/StudioComponent.js"></script>
    <script type="text/javascript" src="js/Components/CommentComponent.js"></script>
  
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="main">
      <div class="header">
        <div class="navbar">
          <div class="navbar_inner">
            <div class="navbar_option" {{action 'search'}}>Search...</div>
            <div class="navbar_option" {{action 'home'}}>Movies</div>
            <div class="navbar_option" {{action 'studios'}}>Studios</div>
            <div class="navbar_option" {{action 'actors'}}>Actors</div>
            <div class="navbar_option" {{action 'directors'}}>Directors</div>
            <div class="navbar_option" {{action 'users'}}>Users</div>
            <div class="navbar_option" {{action 'account'}}>
              Account
              {{#if showDrop}}
                <table class="dropdown">
                  <tr><td {{action 'accountSettings'}}>Settings</td></tr>
                  <tr><td {{action 'logout'}}>Logout</td></tr>
                </table>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="contentainer">
        <div class="content">
          <div class="content_inner">
            {{outlet}}
          </div>
        </div>
      </div>
      <!--<div class="footer">
        <div class="footer_inner">
          <div class="footer_option">Share</div>
          <div class="footer_option">Connect</div>
          <div class="footer_option">Sitemap</div>
          <div class="footer_option">Contact</div>
        </div>
      </div>-->
    </script>

    <script type="text/x-handlebars" data-template-name="movies">
      <div class="content_head">
        <p>Movies</p>
        <a {{action 'createMovie'}}>Add</a>
      </div>
      {{#each model}}
        {{movie-container action="goToMovie" model=this}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="movie">
      <div class="content_head">
      <h1>{{deleted}}</h1>
        <p>{{model.Title}}</p>
        <a {{action 'editMovie'}}>Edit</a>
        <a {{action 'delete_movie'}}>Delete</a>
      </div>
      <div class="movie_container">
        <table>
          <tr>
            <td>Duration: {{model.Duration}}</td>
            <td>Agerating: {{model.AgeRating}}</td>
            <td>Genre: {{model.Genre}}</td>
            <td>Mood: {{model.Mood}}</td>
            <td>Releasedate: {{model.ReleaseDate}}</td>
            <td>Rating: {{#if model.AvgRating}}{{model.AvgRating}}{{else}}not rated{{/if}}</td>
            <td><a {{action 'goToDirector' model.D_PersID}}>Director: {{directorName}}</a></td>
            <td><a {{action 'goToStudio' model.StudioID}}>Studio: {{studioName}}</a></td>
          </tr>
        </table>
        <div>
          <h3>Actors:</h3>
          {{#each actors}}
            <p><a {{action 'goToActor' this.PersID}}>Name: {{Firstname}} {{Surname}}</a></p>
          {{/each}}
        <div>
        <hr>
        <div class="rating">
          Please rate this movie: 
          {{view Ember.Select content=ratings value=selectedValue prompt="Choose a rating:" optionValuePath="content.value" optionLabelPath="content.label"}}
        </div>
        <div class="comments">
          <h3>Comments:</h3>
          {{#if comments}}
            {{#each comments}}
              {{comment-container action='deleteComment' model=this}}
            {{/each}}
          {{else}}
            no comments
          {{/if}}
          <div class="new_comment">
          <h3>Add comment:</h3>
          <div>{{textarea class="comment_input" value=commentText type="textfield" placeholder="Enter a comment ..."}}</div>
          <button {{action 'comment'}}>Place comment</button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="signin">
      <div class="signin_container">
        <p>Please Sign in</p>
        <p class="message error">{{message}}</p>
        {{input value=email placeholder="Email"}}
        {{input value=password type='password' placeholder="Password"}}
        <button {{action 'postSignin'}}>signin</button>
        <div><a href="#" {{action 'signup'}}>Signup</a></div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="signup">
      <div class="signup_container">
        <p>Signup in</p>
        <p class="message error">{{message}}</p>
        {{input value=params.email placeholder="Email"}}
        {{input value=params.password type='password' placeholder="Password"}}
        {{input value=params.firstname placeholder="Firstname"}}
        {{input value=params.surname placeholder="Surname"}}
        {{input value=params.gender placeholder="Gender (m/f)"}}
        {{input value=params.birthdate placeholder="Birthdate (YYYY-MM-DD)"}}
        <button {{action 'postSignup'}}>signup</button>
        <div><a href="#" {{action 'signin'}}>Signin</a></div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="studios">
      <div class="content_head">
        <p>Studios</p>
    <a {{action 'createStudio'}}>Add</a>
      </div>
      {{#each model}}
        {{studio-container action='goToStudio' model=this}}
      {{/each}}
    </script>
  
  <script type="text/x-handlebars" data-template-name="studio">
      <div class="content_head">
      <h1>{{deleted}}</h1>
        <p>{{model.Name}}</p>
    <a {{action 'editStudio'}}>Edit</a>
    <a {{action 'deleteStudio'}}>Delete</a>
      </div>
      <div class="studio_container">
        <table>
          <tr>
            <td>Headquarter: {{model.Headquarter}}</td>
          </tr>
        </table>
        <div>
          <h3>Movies:</h3>
          {{#each movies}}
            <p><a {{action 'goToMovie' this.MovieID}}>{{Title}}</a></p>
          {{/each}}
        <div>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="createStudio">
      <div class="content_head">
        <p>Create a Studio</p>
    {{input value=model.name placeholder="Name"}}
    {{input value=model.headquarter placeholder="Headquarter"}}
    <button {{action 'submit_studio'}}>submit</button>
    </script>
  
  <script type="text/x-handlebars" data-template-name="editStudio">
      <div class="content_head">
      <h1>{{edited}}</h1>
        <p>Edit the Studio</p>
    {{input value=model.newName placeholder="Name"}}
    {{input value=model.newHeadquarter placeholder="Headquarter"}}
    <button {{action 'submitEditStudio'}}>edit</button>
    </script>

    <script type="text/x-handlebars" data-template-name="actors">
      <div class="content_head">
        <p>Actors</p>
    <a {{action 'createActor'}}>Add</a>
      </div>
      {{#each model}}
        {{actor-container action="goToActor" model=this}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="users">
      <div class="content_head">
        <p>Users</p>
      </div>
      {{#each model}}
        {{user-container action="goToUser" model=this}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="user">
      <div class="content_head">
        <p>{{model.Firstname}} {{model.Surname}}</p>
      </div>
      <div class="user_container">
        <table>
          <tr>
            <td>Birthdate: {{model.Birthdate}}</td>
            <td>Gender: {{model.Gender}}</td>
          </tr>
        </table>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="createActor">
      <div class="content_head">
        <p>Create Actor</p>
        {{input value=model.firstName placeholder="Firstname"}}
        {{input value=model.surName placeholder="Surname"}}
    {{input value=model.placeOfBirth placeholder="Place of Birth"}}
    {{input value=model.birthdate placeholder="Birthdate - YYYY-MM-DD"}}
    {{input value=model.gender placeholder="Gender - m/w"}}
        <button {{action 'submit_actor'}}>submit</button>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="actor">
      <div class="content_head">
      <h1>{{deleted}}</h1>
        <p>{{model.Firstname}} {{model.Surname}}</p>
    <a {{action 'editActor'}}>Edit</a>
    <a {{action 'delete_actor'}}>Delete</a>
      </div>
      <div class="actor_container">
        <table>
          <tr>
            <td>Birthdate: {{model.Birthdate}}</td>
            <td>Gender: {{model.Gender}}</td>
          </tr>
        </table>
        <div>
          <h3>Movies:</h3>
          {{#each movies}}
            <p><a {{action 'goToMovie' this.MovieID}}>{{Title}}</a></p>
          {{/each}}
        <div>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="editActor">
      <div class="content_head">
        <p>Edit Actor</p>
        {{input value=model.newFirstName placeholder="new Firstname"}}
    {{input value=model.newSurName placeholder="new Surname"}}
    {{input value=model.newPlaceOfBirth placeholder="new Place of Birth"}}
    {{input value=model.newBirthdate placeholder="new Birthdate"}}
    {{input value=model.newGender placeholder="new Gender"}}
    <button {{action 'edit_actor'}}>edit</button>
    </script>

    <script type="text/x-handlebars" data-template-name="createMovie">
      <div class="content_head">
        <p>Create Movie</p>
        {{input value=model.title placeholder="Title"}}
        {{input value=model.releaseDate placeholder="Release Date"}}
        {{input value=model.genre placeholder="Genre"}}
        {{input value=model.mood placeholder="Mood"}}
        {{input value=model.duration placeholder="Duration"}}
        {{input value=model.ageRating placeholder="Age rating"}}
        {{input value=model.directorFirstName placeholder="Director Firstname"}}
        {{input value=model.directorSurName placeholder="Director Surname"}}
        {{input value=model.studio placeholder="Studio"}}
        <button {{action 'submit_movie'}}>submit</button>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="directors">
      <div class="content_head">
        <p>Directors</p>
    <a {{action 'createDirector'}}>Add</a>
    <a {{action 'editDirector'}}>Edit</a>
      </div>
      {{#each model}}
        {{director-container action='goToDirector' model=this}}
      {{/each}}
    </script>
  
  <script type="text/x-handlebars" data-template-name="createDirector">
      <div class="content_head">
        <p>Create Director</p>
        {{input value=model.firstName placeholder="Firstname"}}
        {{input value=model.surName placeholder="Surname"}}
    {{input value=model.placeOfBirth placeholder="Place of Birth"}}
    {{input value=model.birthdate placeholder="Birthdate - YYYY-MM-DD"}}
    {{input value=model.gender placeholder="Gender - m/w"}}
        <button {{action 'submit_director'}}>submit</button>
      </div>
    </script>
  
    <script type="text/x-handlebars" data-template-name="director">
      <div class="content_head">
      <h1>{{deleted}}</h1>
        <p>{{model.Firstname}} {{model.Surname}}</p>
    <a {{action 'editMovie'}}>Edit</a>
    <a {{action 'delete_director'}}>Delete</a>
      </div>
      <div class="director_container">
        <table>
          <tr>
            <td>Birthdate: {{model.Birthdate}}</td>
            <td>Place of Birth: {{model.PlaceOfBirth}}</td>
            <td>Gender: {{model.Gender}}</td>
          </tr>
        </table>
        <div>
          <h3>Movies:</h3>
          {{#each movies}}
            <p><a {{action 'goToMovie' this.MovieID}}>{{Title}}</a></p>
          {{/each}}
        <div>
      </div>
    </script>
  
  <script type="text/x-handlebars" data-template-name="editDirector">
      <div class="content_head">
        <p>Edit Director</p>
        {{input value=model.newFirstName placeholder="new Firstname"}}
    {{input value=model.newSurName placeholder="new Surname"}}
    {{input value=model.newPlaceOfBirth placeholder="new Place of Birth"}}
    {{input value=model.newBirthdate placeholder="new Birthdate"}}
    {{input value=model.newGender placeholder="new Gender"}}
    <button {{action 'edit_director'}}>edit</button>
    </script>

    <script type="text/x-handlebars" data-template-name="search">
      <div class="content_head">
        <p>Search</p>
      <div>
      {{view Ember.Select content=tables value=selectedTable optionValuePath="content.value" optionLabelPath="content.label"}}
      {{input value=searchText placeholder="Searchtext ..."}}
      <button {{action 'search'}}>Search</button>
      {{#each results}}
        test
      {{/each}}
    </script>
  
    <script type="text/x-handlebars" id="components/movie-container">
      <h3><a {{action 'goToMovie'}}>{{model.Title}}</a></h3>
      <div class="movie_container">
        <table>
          <tr>
            <td>Duration: {{model.Duration}}</td>
            <td>Agerating: {{model.AgeRating}}</td>
            <td>Genre: {{model.Genre}}</td>
            <td>Mood: {{model.Mood}}</td>
            <td>Releasedate: {{model.ReleaseDate}}</td>
            <!--<td>Rating: {{#if model.AvgRating}}{{model.AvgRating}}{{else}}not rated{{/if}}</td>-->
            <!--<td>Director: {{model.D_PersID}}</td>-->
            <!--<td>Studio: {{studioName}}</td>-->
          </tr>
        </table>
      </div>
    </script>

    <script type="text/x-handlebars" id="components/actor-container">
      <h3><a {{action 'goToActor'}}>{{model.Firstname}} {{model.Surname}}:</a></h3>
      <p>Place of birth: {{model.PlaceOfBirth}}</p>
      <p>Birthdate: {{model.Birthdate}}</p>
      <p>Gender: {{model.Gender}}</p>
    </script>
  
  <script type="text/x-handlebars" id="components/director-container">
    <h3><a {{action 'goToDirector'}}>{{model.Firstname}} {{model.Surname}}:</a></h3>
    <div class="director_container">
      <p>Place of birth: {{model.PlaceOfBirth}}</p>
      <p>Birthdate: {{model.Birthdate}}</p>
      <p>Gender: {{model.Gender}}</p>
    </div>
    </script>

    <script type="text/x-handlebars" id="components/studio-container">
      <h3><a {{action 'goToStudio'}}>{{model.Name}}:</a></h3>
      <p>Headquarter: {{model.Headquarter}}</p>
    </script>

    <script type="text/x-handlebars" id="components/comment-container">
      <div class="comment_container">
        <div class="comment_info">{{user}} {{date}} <a {{action 'deleteComment' model.CommentID}}>Delete</a></div>

        {{model.Text}}
      </div>
    </script>

    <script type="text/x-handlebars" id="components/user-container">
      <h3><a {{action 'goToUser'}}>{{model.Firstname}} {{model.Surname}}:</a></h3>
      <p>Birthdate: {{model.Birthdate}}</p>
      <p>Gender: {{model.Gender}}</p>
    </script>
  </body>
</html>