<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SpeiFrei</title>
    <script type="text/javascript" src="libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="libs/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="libs/ember.js"></script>
    <script type="text/javascript" src="libs/ember-data.js"></script>

    <link rel="stylesheet/less" type="text/css" href="stylesheets/styles.less" />
    <script type="text/javascript" src="libs/less.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>

    <!-- Routes -->
    <script type="text/javascript" src="js/Routes/ApplicationRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SigninRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SignupRoute.js"></script>
    <script type="text/javascript" src="js/Routes/StudiosRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/ActorsRoute.js"></script>
    <script type="text/javascript" src="js/Routes/MoviesRoute.js"></script>
    <script type="text/javascript" src="js/Routes/DirectorsRoute.js"></script>
    <script type="text/javascript" src="js/Routes/MovieRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateMovieRoute.js"></script>
    <script type="text/javascript" src="js/Routes/DeleteMovieRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateDirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditDirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/SelectDirectorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateActorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditActorRoute.js"></script>
    <script type="text/javascript" src="js/Routes/CreateStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditStudioRoute.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/Controllers/ApplicationController.js"></script>
    <script type="text/javascript" src="js/Controllers/SigninController.js"></script>
    <script type="text/javascript" src="js/Controllers/SignupController.js"></script>
    <script type="text/javascript" src="js/Controllers/StudiosController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateStudioController.js"></script>
    <script type="text/javascript" src="js/Controllers/ActorsController.js"></script>
    <script type="text/javascript" src="js/Controllers/MoviesController.js"></script>
    <script type="text/javascript" src="js/Controllers/DirectorsController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateMovieController.js"></script>
    <script type="text/javascript" src="js/Controllers/MovieController.js"></script>
    <script type="text/javascript" src="js/Controllers/CreateDirectorController.js"></script>
    <script type="text/javascript" src="js/Controllers/EditDirectorController.js"></script>
  	<script type="text/javascript" src="js/Controllers/CreateActorController.js"></script>
  	<script type="text/javascript" src="js/Controllers/EditActorController.js"></script>
    <script type="text/javascript" src="js/Controllers/DeleteMovieController.js"></script>
    <script type="text/javascript" src="js/Routes/CreateStudioRoute.js"></script>
    <script type="text/javascript" src="js/Routes/EditStudioRoute.js"></script>

	
    <!-- Components -->
    <script type="text/javascript" src="js/Components/MovieComponent.js"></script>    
	
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="main">
      <div class="header">
        <div class="navbar">
          <div class="navbar_inner">
            <div class="navbar_option">{{input value=search_text placeholder="Search..."}}<button {{action 'search'}}>P</button></div>
            <div class="navbar_option" {{action 'home'}}><span class="icon_home"></span>Movies</div>
            <div class="navbar_option" {{action 'studios'}}>Studios</div>
            <div class="navbar_option" {{action 'actors'}}>Actors</div>
            <div class="navbar_option" {{action 'directors'}}>Directors</div>
            <div class="navbar_option" {{action 'account'}}>
              Account
              {{#if showDrop}}
                <table class="dropdown">
                  <tr><td {{action 'accountSettings'}}>Settings</td></tr>
                  <tr><td {{action 'logout'}}>Logout</td></tr>
                </table>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="contentainer">
        <div class="content">
          <div class="content_inner">
            {{outlet}}
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer_inner">
          <div class="footer_option">Share</div>
          <div class="footer_option">Connect</div>
          <div class="footer_option">Sitemap</div>
          <div class="footer_option">Contact</div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="movies">
      <div class="content_head">
        <p>Movies</p>
        <a {{action 'createMovie'}}>Add</a>
      </div>
      {{#each model}}
        {{movie-container action="goToMovie" model=this}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="movie">
      <div class="content_head">
	  	<h1>{{deleted}}</h1>
        <p>{{model.Title}}</p>
		<a {{action 'editMovie'}}>Edit</a>
		<a {{action 'delete_movie'}}>Delete</a>

      </div>
      <div class="movie_container">
        <table>
          <tr>
            <td>Duration: {{model.Duration}}</td>
            <td>Agerating: {{model.AgeRating}}</td>
            <td>Genre: {{model.Genre}}</td>
            <td>Mood: {{model.Mood}}</td>
            <td>Releasedate: {{model.ReleaseDate}}</td>
            <td>Rating: {{model.AvgRating}}</td>
            <td><a{{action 'goToDirector' model.D_PersID}}>Director: {{model.D_PersID}}</a></td>
            <td>Studio: {{studioName}}</td>
          </tr>
        </table>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="signin">
      <div class="signin_container">
        <p>Please Sign in</p>
        <p class="message error">{{message}}</p>
        {{input value=email placeholder="Email"}}
        {{input value=password placeholder="Password"}}
        <button {{action 'postSignin'}}>signin</button>
        <div><a href="#" {{action 'signup'}}>Signup</a></div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="signup">
      <div class="signup_container">
        <p>Signup in</p>
        <p class="message error">{{message}}</p>
        {{input value=params.email placeholder="Email"}}
        {{input value=params.password placeholder="Password"}}
        {{input value=params.firstname placeholder="Firstname"}}
        {{input value=params.surname placeholder="Surname"}}
        {{input value=params.gender placeholder="Gender"}}
        {{input value=params.birthdate placeholder="Birthdate"}}
        <button {{action 'postSignup'}}>signup</button>
        <div><a href="#" {{action 'signin'}}>Signin</a></div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="studios">
      <div class="content_head">
        <p>Studios</p>
		<a {{action 'createStudio'}}>Add</a>
		<a {{action 'editStudio'}}>Edit</a>
      </div>
      {{#each model}}
        {{studio-container model=this}}
      {{/each}}
    </script>
	
	<script type="text/x-handlebars" data-template-name="createStudio">
      <div class="content_head">
        <p>Create a Studio</p>
		{{input value=model.name placeholder="Name"}}
		{{input value=model.headquarter placeholder="Headquarter"}}
		<button {{action 'submit_studio'}}>submit</button>
    </script>
	
	<script type="text/x-handlebars" data-template-name="editStudio">
      <div class="content_head">
        <p>Edit a Studio</p>
		{{input value=model.newName placeholder="Name"}}
		{{input value=model.newHeadquarter placeholder="Headquarter"}}
		<button {{action 'edit_studio'}}>edit</button>
    </script>

    <script type="text/x-handlebars" data-template-name="actors">
      <div class="content_head">
        <p>Actors</p>
		<a {{action 'createActor'}}>Add</a>
		<a {{action 'editActor'}}>Edit</a>
      </div>
      {{#each model}}
        {{actor-container model=this}}
      {{/each}}
    </script>
	
	<script type="text/x-handlebars" data-template-name="createActor">
      <div class="content_head">
        <p>Create Actor</p>
        {{input value=model.firstName placeholder="Firstname"}}
        {{input value=model.surName placeholder="Surname"}}
		{{input value=model.placeOfBirth placeholder="Place of Birth"}}
		{{input value=model.birthdate placeholder="Birthdate - YYYY-MM-DD"}}
		{{input value=model.gender placeholder="Gender - m/w"}}
        <button {{action 'submit_actor'}}>submit</button>
      </div>
    </script>
	
	<script type="text/x-handlebars" data-template-name="editActor">
      <div class="content_head">
        <p>Edit Actor</p>
        {{input value=model.newFirstName placeholder="new Firstname"}}
		{{input value=model.newSurName placeholder="new Surname"}}
		{{input value=model.newPlaceOfBirth placeholder="new Place of Birth"}}
		{{input value=model.newBirthdate placeholder="new Birthdate"}}
		{{input value=model.newGender placeholder="new Gender"}}
		<button {{action 'edit_actor'}}>edit</button>
    </script>

    <script type="text/x-handlebars" data-template-name="createMovie">
      <div class="content_head">
        <p>Create Movie</p>
        {{input value=model.title placeholder="Title"}}
        {{input value=model.releaseDate placeholder="Release Date"}}
        {{input value=model.genre placeholder="Genre"}}
        {{input value=model.mood placeholder="Mood"}}
        {{input value=model.duration placeholder="Duration"}}
        {{input value=model.ageRating placeholder="Age rating"}}
        {{input value=model.directorFirstName placeholder="Director Firstname"}}
        {{input value=model.directorSurName placeholder="Director Surname"}}
        {{input value=model.studio placeholder="Studio"}}
        <button {{action 'submit_movie'}}>submit</button>
      </div>
    </script>
	
	<script type="text/x-handlebars" data-template-name="directors">
      <div class="content_head">
        <p>Directors</p>
		<a {{action 'createDirector'}}>Add</a>
		<a {{action 'selectDirector'}}>Edit</a>
      </div>
      {{#each model}}
        {{director-container model=this}}
      {{/each}}
    </script>
	
	<script type="text/x-handlebars" data-template-name="createDirector">
      <div class="content_head">
        <p>Create Director</p>
        {{input value=model.firstName placeholder="Firstname"}}
        {{input value=model.surName placeholder="Surname"}}
		{{input value=model.placeOfBirth placeholder="Place of Birth"}}
		{{input value=model.birthdate placeholder="Birthdate - YYYY-MM-DD"}}
		{{input value=model.gender placeholder="Gender - m/w"}}
        <button {{action 'submit_director'}}>submit</button>
      </div>
    </script>
	
	<script type="text/x-handlebars" data-template-name="editDirector">
      <div class="content_head">
        <p>Edit Director</p>
        {{input value=model.newFirstName placeholder="new Firstname"}}
		{{input value=model.newSurName placeholder="new Surname"}}
		{{input value=model.newPlaceOfBirth placeholder="new Place of Birth"}}
		{{input value=model.newBirthdate placeholder="new Birthdate"}}
		{{input value=model.newGender placeholder="new Gender"}}
		<button {{action 'edit_director'}}>edit</button>
    </script>
	
    <script type="text/x-handlebars" id="components/movie-container">
      <h3><a {{action 'goToMovie'}}>{{model.Title}}</a></h3>
      <div class="movie_container">
        <table>
          <tr>
            <td>Duration: {{model.Duration}}</td>
    		    <td>Agerating: {{model.AgeRating}}</td>
        		<td>Genre: {{model.Genre}}</td>
        		<td>Mood: {{model.Mood}}</td>
        		<td>Releasedate: {{model.ReleaseDate}}</td>
        		<td>Rating: {{model.AvgRating}}</td>
        		<!--<td>Director: {{model.D_PersID}}</td>-->
        		<!--<td>Studio: {{studioName}}</td>-->
          </tr>
        </table>
      </div>
    </script>

    <script type="text/x-handlebars" id="components/actor-container">
      <h3>{{model.Firstname}} {{model.Surname}}:</h3>
      <p>Place of birth: {{model.PlaceOfBirth}}</p>
  	  <p>Birthdate: {{model.Birthdate}}</p>
  	  <p>Gender: {{model.Gender}}</p>
    </script>
	
	<script type="text/x-handlebars" id="components/director-container">
    <h3>{{model.Firstname}} {{model.Surname}}:</h3>
    <div class="director_container">
		  <p>Place of birth: {{model.PlaceOfBirth}}</p>
		  <p>Birthdate: {{model.Birthdate}}</p>
		  <p>Gender: {{model.Gender}}</p>
		</div>
    </script>
	
	<script type="text/x-handlebars" id="components/director-container-all">
    <div class="director_container">
		<p>{{model.Firstname}} {{model.Surname}}:</p>
		<p>ID: {{model.PersID}};</p>
		<p>Place of birth: {{model.PlaceOfBirth}};</p>
		<p>Birthdate: {{model.Birthdate}};</p>
		<p>Gender: {{model.Gender}}</p>
		</div>
    </script>

    <script type="text/x-handlebars" id="components/studio-container">
      <h3>{{model.Name}}:</h3>
      <p>Headquarter: {{model.Headquarter}}</p>
    </script>
  </body>
</html>